<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.security"
      version="0.2.0">

    <name>Security</name>
    <author>PolyVi Inc.</author>
    <description>xFace Security Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Security</keywords>

    <js-module src="www/Security.js" name="Security">
        <clobbers target="window.xFace.Security" />
    </js-module>
    
    <js-module src="www/SecurityOptions.js" name="SecurityOptions">
        <clobbers target="SecurityOptions" />
    </js-module>
    
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Security">
                <param name="wp-package" value="Security"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XSecurityExt.cs" />
        <source-file src="src/wp/BouncyCastleLibrary.dll" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
