<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.message"
      version="0.2.0">

    <name>Messaging</name>
    <author>PolyVi Inc.</author>
    <description>xFace Messaging Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Messaging</keywords>

    <js-module src="www/Messaging.js" name="Messaging">
        <clobbers target="window.xFace.Messaging" />
    </js-module>

    <js-module src="www/Message.js" name="Message">
        <clobbers target="window.xFace.Message" />
    </js-module>

    <js-module src="www/MessageTypes.js" name="MessageTypes">
        <clobbers target="window.xFace.MessageTypes" />
    </js-module>
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Messaging">
                <param name="wp-package" value="Messaging"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XMessagingExt.cs" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
