<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.ams"
      version="0.2.0">

    <name>AMS</name>
    <author>PolyVi Inc.</author>
    <description>xFace AMS Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,AMS</keywords>

    <js-module src="www/ams.js" name="AMS">
        <clobbers target="window.xFace.AMS" />
    </js-module>

    <js-module src="www/AmsError.js" name="AmsError">
        <clobbers target="AmsError" />
    </js-module>

    <js-module src="www/AmsOperationType.js" name="AmsOperationType">
        <clobbers target="AmsOperationType" />
    </js-module>

    <js-module src="www/AmsState.js" name="AmsState">
        <clobbers target="AmsState" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="AMS">
                <param name="wp-package" value="AMS"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XAms.cs" />
        <source-file src="src/wp/XAmsExt.cs" />
        <source-file src="src/wp/XAmsImpl.cs" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
