<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.telephony"
      version="0.2.0">

    <name>Telephony</name>
    <author>PolyVi Inc.</author>
    <description>xFace Telephony Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Telephony</keywords>

    <js-module src="www/Telephony.js" name="Telephony">
        <clobbers target="window.xFace.Telephony" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Telephony">
                <param name="wp-package" value="Telephony"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XTelephonyExt.cs" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
