<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.zbar"
      version="0.2.0">

    <name>BarcodeScanner</name>
    <author>PolyVi Inc.</author>
    <description>xFace BarcodeScanner Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,BarcodeScanner</keywords>

    <js-module src="www/BarcodeScanner.js" name="BarcodeScanner">
        <clobbers target="window.xFace.BarcodeScanner" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XZBarExt.cs" />
        <source-file src="src/wp/XBarCodeTask.cs" />
        <source-file src="src/wp/XBarCode.cs" />
        <source-file src="src/wp/XBarCode.xaml" />
        <source-file src="src/wp/XPhotoCameraLuminanceSource.cs" />
        <source-file src="src/wp/Silverlight_ZXing_Core.dll" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
