<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.push"
      version="0.2.0">

    <name>PushNotification</name>
    <author>PolyVi Inc.</author>
    <description>xFace PushNotification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,PushNotification</keywords>

    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="window.xFace.PushNotification" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="wp-package" value="PushNotification"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XPushNotificationExt.cs" />
    </platform>

    <!-- android -->


    <!-- ios -->


</plugin>
